@import '../css/reset.css';

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --color-verde-header: #7B8C56;
    --color-negro-boton: #252026;
    --color-gris: #F2F2F0;
    --borde: 30px;
    --font-principal: 'Raleway';
    --font-precio: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
    font-size: 12px;
    font-family: var(--font-principal);
    background-color: var(--color-gris);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--color-verde-header);
    height: 5rem;
    align-items: center;
    padding-left: 3rem;
    padding-right: 3rem;
    font-size: 2rem;
}

.icono-salida {
    color: white;
    width: 3rem;
    height: 3rem;
}

.lista-nav-main li {
    display: inline-block;
}


.lista-opciones-sesion li {
    background-color: var(--color-negro-boton);
    border-radius: 1rem;
    height: 3.8rem;
    display: flex;
    align-items: center;
    padding-right: 6px;
}

.anchor-item-sesion,
.anchor-item-main {
    text-decoration: none;
    font-size: 1.3rem;
    color: white;
    margin-right: .5rem;
    margin-left: .5rem;
    padding: 0.5em;
    font-weight: bold;
}

.anchor-item-main:hover {
    text-decoration: underline;
}

a.anchor-item-sesion:hover {
    text-decoration: underline;
}

#mapid {
    height: 500px;
    /* O cualquier altura que necesites */
    width: 95%;
    margin: 2em auto;
    border: 2px solid #333;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}



.seccion-portada {
    position: relative;
}


.icono-header-pawperties {
    width: 75px;
    height: 63px;
    background-image: url('../imgs/header/Logo.svg');
    background-size: cover;
    /* Ajusta la imagen para c  rir todo el área */
    background-position: center;
    /* Centra la imagen */
    text-indent: -9999px;
    /* Oculta el texto visualmente */
    border: none;
    /* Elimina cualquier borde por defecto */
}

textarea {
    resize: none;
}

.enlace-publicar {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: var(--color-negro-boton);
    font-size: 2rem;
    padding: 6px 0 6px 0;
    width: 60%;
    text-align: center;
    margin: 2rem 0 2rem 0;
    font-weight: bold;
    border-radius: 20px;
}

.enlace-publicar-disable {
    display: none;
    text-decoration: none;
    color: white;
    background-color: var(--color-negro-boton);
    font-size: 2rem;
    padding: 6px 0 6px 0;
    /* arriba, derecha, abajo, izquierda*/
    width: 60%;
    text-align: center;
    margin: 2rem 0 2rem 0;
    font-weight: bold;
    border-radius: 20px;
}

.enlace-publicar:hover, .btn-form-busqueda:hover {
    text-decoration: none;
    background-color: #333;
}

.main-home {
    padding: 1% 3% 0 3%;
    min-height: 81vh;
}



.label-form {
    display: none;
}

.btn-form-busqueda {
    background-color: var(--color-negro-boton);
    color: white;
    display: block;
    border: none;
    width: 30%;
    height: 4rem;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

.btn-form-busqueda:hover,
.enlace-publicar:hover {
    text-decoration: underline;
}


.seccion-que-es-pawperties {
    display: flex;
    margin: 5rem 1rem 2rem 1rem;
    border-bottom: #252026 solid;
    padding-bottom: 5em;
}



.title-descripcion,
.descripcion-pawperties {
    margin-bottom: 1rem;
    margin-left: 5em;
}





/*NAV DESTACADOS*/

.seccion-alojamientos-destacados {
    display: none;
}



.destacado-item {
    flex: 0 0 100%;
    width: 100%;
    object-fit: cover;
    scroll-snap-align: center;
}

.destacado-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.titulo-contactanos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
    background-color: var(--color-negro-boton);
    color: #ffffff;
    padding: 3rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.titulo-contactanos h2 {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
}

/* FORMULARIO HOME */

.seccion-contactanos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: var(--color-gris)
}


.form-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    margin-bottom: 15px;
}

.form-group label {
    text-align: left;
}

.form-group input {
    width: (100% - 18px);
    padding: 8px;
    border: none;
    border-bottom: 1px solid var(--color-verde-header);
    font-size: 14px;
}

.form-contactanos {
    display: flex;
    width: 100%;
    max-width: 1000px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.form_campos {
    width: 70%;
}

.form_info {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 25px;
}

.form_info h3 {
    margin-top: 40px;
    font-size: 14px;
    font-weight: 800;
}

.form_info p {
    font-size: 14px;
    margin-top: 5px;
}

.form-contactanos label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

.form-contactanos>input[type="text"],
.form-contactanos input[type="tel"],
.form-contactanos input[type="email"] {
    width: calc(100% - 18px);
    /* 10px de padding del form + 8px del padding del input */
    padding: 8px;
    margin-bottom: 15px;
    border: none;
    border-bottom: 1px solid var(--color-verde-header);
    font-size: 14px;
}

.form-contactanos textarea {
    width: calc(100% - 6px);
    margin-bottom: 8px;
    resize: none;
    border: 1px solid var(--color-verde-header);
    font-family: var(--font-principal);
    color: black;
}

.form-contactanos input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 35px 0 10px 0;
    background-color: var(--color-negro-boton);
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-contactanos input[type="submit"]:hover {
    background-color: #333;
}

.form-contactanos input:focus {
    border: none;
    outline: none;
    border-bottom: 2px var(--color-verde-header) solid;
}

.form-contactanos textarea:focus {
    outline: none;
    border: 2px var(--color-verde-header) solid;
}

.seccion-busqueda {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seccion-busqueda .form-busqueda-propiedad{
    margin: 3rem;
    
}


