
.titulo-imagenes-detail {
    font-size: 24px;
    margin-bottom: 20px;
}


/* Estilos para los detalles de la publicación */
.details-depto {
    padding: 20px;
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.titulo-details {
    font-size: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.precio-publicacion {
    font-size: 20px;
    color: #e74c3c;
    margin-left: 10px;
}

.article-details-texto {
    margin-top: 20px;
}

.titulo-details-texto {
    font-size: 20px;
    margin-bottom: 10px;
}

.p-details-texto {
    font-size: 16px;
    line-height: 1.6;
}

/* Estilos para el formulario de contacto */
.form-contacto-publicaciom {
    padding: 20px;
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.h4-titulo-form {
    font-size: 20px;
    margin-bottom: 20px;
}

.input-form, input[type="phone"], textarea {
    width: 97%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.btn-contactar {
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-contactar:hover {
    background-color: #2980b9;
}

.whatsapp-link img {
    width: 30px;
    height: 30px;
}

.publicaciones-duenio {
    margin-top: 20px;
}

.h5-nombre-duenia {
    font-size: 18px;
    margin-bottom: 10px;
}

.link-avisos-duenio {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #3498db;
}

/* Estilos para la ubicación */
.ubicacion-publicacion {
    padding: 20px;
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.titulo-ubicacion {
    font-size: 20px;
    margin-bottom: 10px;
}

.mapid {
    width: 100%;
    height: 300px;
    background-color: #e1e1e1;
    border-radius: 5px;
}

.carousel-container {
    position: relative;
    width: 100%; /* Asegura que el contenedor del carrusel ocupe el 100% del espacio disponible */
}

.ul-imagenes-publicacion {
    display: flex;
    overflow: hidden; /* Oculta el desplazamiento horizontal */
    transition: transform 0.5s ease; /* Suaviza la transición entre imágenes */
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%; /* Asegura que el contenedor de la lista ocupe el 100% del espacio disponible */
}

.li-imagen-publicacion {
    min-width: 100%; /* Cada imagen ocupa el 100% del ancho del contenedor */
    box-sizing: border-box;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente para los botones */
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    user-select: none;
    z-index: 10; /* Asegura que los botones estén por encima de las imágenes */
}

.carousel-btn.prev {
    left: 10px;
}

.carousel-btn.next {
    right: 10px;
}

.carousel-img {
    width: 100%; /* Asegura que la imagen ocupe el 100% del contenedor */
    height: auto; /* Ajusta la altura automáticamente en función del contenido */
    display: block;
    object-fit: cover; /* Asegura que la imagen cubra todo el contenedor sin distorsionarse */
}
