
.titulo-imagenes-detail {
    font-size: 24px;
    margin-bottom: 20px;
}


/* Estilos para los detalles de la publicación */
.details-depto {
    padding: 20px;
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.titulo-details {
    font-size: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.precio-publicacion {
    font-size: 20px;
    color: #e74c3c;
    margin-left: 10px;
}

.article-details-texto {
    margin-top: 20px;
}

.titulo-details-texto {
    font-size: 20px;
    margin-bottom: 10px;
}

.p-details-texto {
    font-size: 16px;
    line-height: 1.6;
}

/* Estilos para el formulario de contacto */
.form-contacto-publicaciom {
    padding: 20px;
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.h4-titulo-form {
    font-size: 20px;
    margin-bottom: 20px;
}

.input-form, input[type="phone"], textarea {
    width: 97%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.btn-contactar {
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-contactar:hover {
    background-color: #2980b9;
}

.whatsapp-link img {
    width: 30px;
    height: 30px;
}

.publicaciones-duenio {
    margin-top: 20px;
}

.h5-nombre-duenia {
    font-size: 18px;
    margin-bottom: 10px;
}

.link-avisos-duenio {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #3498db;
}

/* Estilos para la ubicación */
.ubicacion-publicacion {
    padding: 20px;
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.titulo-ubicacion {
    font-size: 20px;
    margin-bottom: 10px;
}

.mapid {
    width: 100%;
    height: 300px;
    background-color: #e1e1e1;
    border-radius: 5px;
}

/*
regla para carrousel de la vista detalle publicacion */

.container-imagenes-publicacion {
    position: relative;
    display: block;
    width: 100vw;
    height: auto;
    max-width: 100em;
    overflow: hidden;
    margin: 0 auto;
}

.titulo-imagenes-detail {
    text-align: center;
    letter-spacing: 1rem;
    text-transform: uppercase;
    padding: 1rem;
    margin: 2rem;
    border-bottom: 30px solid var(--color-amarillo);
}

.slider {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
    height: 63vh;
    width: 100%;
    transform: translateX(0%);
}

.carousel-img {
    width: calc(100% / 5);
    max-width: 100%;
    min-height: 10vh;
    display: block;
    object-fit: cover;
    object-position: center center;
    height: 100%;
    margin: 0 auto;
}

.puntos {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    list-style: none;
    padding: 1em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.punto {
    width: 1em;
    height: 1em;
    background-color: grey;
    margin: 1em;
    border-radius: 50%;
    box-shadow: 0.6em 0.6em 1.2em var(#c9c9c9), -0.6em -0.6em 1.2em var(#ffffff), inset 0 0 0 transparent, inset 0 0 0 transparent;
}

.punto.activo {
    background-color: orangered;
}


/* Estilos para la imagen de pantalla completa */
.fullscreen-modal {
    display: none; /* Oculto por defecto */
    position: fixed;
    z-index: 1000; /* Asegura que esté por encima de todo */
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Permite el scroll si la imagen es más grande que la ventana */
    background-color: rgba(0, 0, 0, 0.9); /* Fondo semitransparente */
}

.fullscreen-modal .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    transition: transform 0.25s ease; /* Transición para el zoom */
}

.fullscreen-modal .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.fullscreen-modal .close:hover,
.fullscreen-modal .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* Añade zoom al hacer hover */
.fullscreen-modal .modal-content:hover {
    transform: scale(1.1);
}