#drop-area {
    border: 2px dashed #ccc;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    min-height: 200px;
    margin: 10px;
    box-sizing: border-box;
}

.instructions {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    color: #555;
}

#drop-input {
    display: inline-block;
    margin-top: 20px;
}

#drop-area.highlight{
	border-color: green;
}

.preview-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    grid-column-gap: 30px;
    grid-row-gap: 50px;
    margin-top: 50px;
}

.image-container {
    padding: 5px;
    background-color: #3c4d68;
    color: white;
    width: 50%;
    height: fit-content;
}

.preview-container img {
    display: inline-block;
    width: 100%;
}

.preview-container .info {
    margin-top: 10px;
    padding: 10px;
}

.remove-button {
    position: relative;
    z-index: 10;
}

.preview-container .remove-button {
    display: inline-block;
    margin-top: 30px;
    border: none;
    padding: 8px 20px;
    /* font-size: 16px;  */
    background-color: #d9687c;
    color: white;
    cursor: pointer;
    margin-bottom: 20px;
}

.preview-container .remove-button:hover {
    filter: brightness(1.2);
}

.error-drop {
    color: #712c2c;
    background: pink;
    padding: 10px;
    margin-top: 30px;
    display: none;
}

/* Añadir este CSS a tu archivo de estilos */
.image-container.exceeded {
    position: relative;
    display: inline-block;
}

.image-container.exceeded img {
    filter: grayscale(100%) blur(2px); /* Opcional, para oscurecer la imagen */
}

.image-container.exceeded .error-message {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.5); /* Color rojo semitransparente */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}
