.filtro-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    border: 2px solid rgb(123, 140, 86);
    height: fit-content;
}

.filtro {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.filtro-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5em;
    margin-top: 1.5em;
}

.filtro-group label {
    margin-bottom: .5em;
}

.filtro-group input[type="range"] {
    width: 90%;
    margin: 15px;
}

#precio-valor {
    font-size: 20px;
    margin: 0 auto;
    font-weight: bold;
    display: inline-block;
}

#precio-valor::before {
    content: "$";
    margin-right: 5px
}

.form-filtros button {
    width: 100px;
    padding: 10px;
}

.filtro-container h2 {
    font-size: 35px;
    border-bottom: 2px;
    border-style: solid;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
}

.form-filtros p {
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px;
    border-style: solid;
    margin-bottom: 8px;
}

.filtro-group label {
    font-size: 14px;
}

/* Slider */
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
    /* removing default appearance */
    -webkit-appearance: none;
    appearance: none;
    /* creating a custom design */
    height: 15px;
    width: 15px;
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid rgb(37, 32, 38);
    box-shadow: -407px 0 0 400px rgb(37, 32, 38);
}

input[type="range"] {
    overflow: hidden;
    border-radius: 16px;
}

input[type="text"], select[type="text"] {
    padding: 5px 12px;
    font-size: 14px;
    line-height: 20px;
    color: #24292e;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: right 8px center;
    border: 1px solid #e1e4e8;
    border-radius: 6px;
    outline: none;
    box-shadow: rgba(225, 228, 232, 0.2) 0px 1px 0px 0px inset;;
    width: 30%;
}

select[type="text"] {
    height: 3.4em;
    margin-left: 1em;
    margin-right: 1em;
    color: #24292ee5;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type="text"]:focus {
    border-color: #0366d6;
    outline: none;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

.botones-conteiner {
    display: flex;
    justify-content: center;
    gap: 10px;
}

button {
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

button[type="submit"] {
    background-color: black;
    color: white;
}

button[type="reset"] {
    background-color: white;
    color: black;
}

button[type="submit"]:hover {
    background-color: rgb(48, 48, 48);
    color: white;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

button[type="reset"]:hover {
    background-color: rgb(207, 207, 207);
    color: black;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.error-registro {
    color: red;
}