@import '../css/base.css';
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');



footer {
    display: flex;
    margin-top: 2rem;
    height: 18rem;
    background-color:var(--color-negro-boton);
    flex-direction: column;
    z-index: 2000;
}

.footer_secciones {
    display: flex;
    height: 85%;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
    padding-top: 15px;
    z-index: 2001;
}

.footer_redes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 20%;
    background-color: #2e2e2e;
    z-index: 5000;
}

.footer_secciones nav {
    margin: 2rem;
}

.footer_secciones nav li {
    font-size: 1.5rem;
    margin: 1rem;
    color: aliceblue;
    text-transform: uppercase;
}

.footer_secciones a {
    color: white;
    text-decoration: none;
}

.footer_secciones a:hover {
    text-decoration: underline;
}

.footer_secciones:first-child::before {
    position: absolute;
    left: 10%;
    content: "";
    width: 12rem;
    height: 9rem;
    background-image: url('../imgs/home/icono-pawperties.svg');
    background-size: cover; 
    background-position: center; 
    z-index: 100; 
}

.footer_redes ul {
    display: flex;
    flex-direction: row;
}

.footer_redes p {
    font-size: 1.5rem;
    color: #FFFFFF;
    padding-left: 1em;
}

.redes_sociales img {
    width: 20px;
    height: 20px;
    margin-left: 2px;
    margin-right: 2px;
}

.redes_sociales {
    margin-right: 10px;
}

@media (max-width: 1200px) {
    .footer_secciones:first-child::before {
        display: none;
    }
}