footer {
    display: flex;
    margin-top: 2rem;
    height: 15rem;
    background-color: #000000;
    flex-direction: column;

}

.footer_secciones {
    display: flex;
    height: 85%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.footer_redes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 15%;
    background-color: #2b2b2b;
}

.footer_secciones nav {
    margin: 2rem;
}

.footer_secciones nav li {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    margin: 1rem;
    color: aliceblue;
    text-transform: uppercase;
}

.footer_secciones a {
    color: white;
    text-decoration: none;
}

.footer_secciones:first-child::before {
    position: absolute;
    left: 10%;
    content: "";
    width: 16rem;
    height: 12rem;
    background-image: url('../imgs/home/icono-pawperties.svg');
    background-size: cover; 
    background-position: center; 
    z-index: 100; 

}

.footer_redes ul {
    display: flex;
    flex-direction: row;
}

.footer_redes p {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  
    font-size: 1.5rem;
    color: #FFFFFF;
}