.profile-main {
    display: flex;
    justify-content: space-between;
    padding: 20px;

}

.profile-aside {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 250px;
    text-align: center;
}

.profile-image {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 15px;
}

.profile-name {
    font-size: 24px;
    margin-bottom: 10px;
}

.profile-type {
    font-size: 18px;
    color: #666;
}

.profile-section {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: calc(100% - 300px); /* Ajusta el tamaño del section para que no se solape con el aside */
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
}

.profile-section h2 {
    font-size: 28px;
    margin-bottom: 20px;
    font-family: var(--font-principal);
}

.profile-section p {
    font-size: 18px;
    margin: 10px 0;
}

.profile-section p strong {
    color: #333;
}

/* Media query para pantallas menores a 650px */
@media (max-width: 650px) {
    .profile-main {
        flex-direction: column; /* Cambia la dirección a columna en pantallas pequeñas */
        align-items: center; /* Alinea los elementos al centro */
    }

    .profile-aside,
    .profile-section {
        width: 100%; /* Asegura que cada sección ocupe el 100% del ancho disponible */
        max-width: none; /* Elimina cualquier restricción de ancho máximo */
        margin-bottom: 20px; /* Añade un margen inferior entre los elementos */
    }

    .profile-section {
        width: 100%; /* Asegura que el section ocupe el 100% del ancho disponible */
    }
}
