.form-publicacion-new {
    background-color: var(--color-gris);
    border: 1px solid black;
    padding: var(--borde);
    padding-top: 0;
    /**/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.paso-1,
.paso-2,
.paso-3 {
    width: 100%;
}

.paso-1 p {
    padding: 1rem 0 1rem 0;
    margin-bottom: 1rem;
    width: 100%;
    font-size: 1.5rem;
    color: gray;
}

.paso-1 p:first-of-type {
    border-bottom: 1px solid black;
}

.titulo-form-publicacion {
    font-weight: 800;
    font-size: 3rem;
    color: var(--color-verde-header);
    margin-top: 1em;
}

.titulo-datos-propietario {
    font-weight: 800;
    font-size: 2rem;
    margin-top: 1em;
    margin-bottom: 1em;
    align-self: flex-start;
}

.input-form-publicacion {
    display: inline-block;
    width: 100%;
    border: 0;
    border-bottom: 2px solid gray;
    margin-bottom: 1rem;
    background-color: transparent;
    padding: 0.5em;
}

.btn-form-enviar-publicacion {
    display: inline-block;
    background-color: var(--color-negro-boton);
    width: 100%;
    height: 4rem;
    border-radius: 2%;
    color: white;
    margin-top: 3em;
}

.file-input-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

/* .file-input-label::after {
    content: "";
    position: absolute;
    bottom: 21%;
    width: 30rem;
    height: 30rem;
    background-image: url("../imgs/svg/imagen-upload.svg");
    background-size: cover;
    background-position: center;
} */

.file-input-label {
    padding: 10px 20px;
    background-color: var(--color-verde-header);
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    margin: 1em;
    font-size: 2rem;
    position: relative;
}

.file-input {
    display: none;
}

.file-input-text {
    font-size: 14px;
    font-family: Arial, sans-serif;
}

.lbl-chekbox {
    display: block;
    width: calc(100% / 3);
    border: none;
    border-bottom: 2px solid gray;
    color: black;
    font-size: 1.6rem;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 0.5em;
}

.lbl-chekbox input {
    display: inline-block;
}

.paso-2 p,
.paso-3 p {
    padding: 1rem 0 1rem 0;
    margin-bottom: 1rem;
    width: 100%;
    font-size: 1.5rem;
    color: gray;
}

.paso-2 p:nth-child(2) {
    border: none;
    border-bottom: 2px solid gray;
    padding-bottom: 2rem;
    width: 100%;
}

.descripcion-alojamiento {
    border: 0.1rem solid var(--color-verde-header);
    width: 100%;
    height: 10%;
    font-size: large;
}

#mapid {
    display: flex;
    justify-content: center;
    align-items: center;
}

.paso-3 p:nth-child(2) {
    border: none;
    border-bottom: 2px solid gray;
    padding-bottom: 2rem;
    width: 100%;
}


/* Estilos para la lista de publicaciones */
.publicaciones-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Estilos para cada elemento de la lista de publicaciones */
.publicacion-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
}

/* Estilos para el título de la publicación */
.publicacion-titulo {
    font-size: 20px;
    font-weight: bold;
}

/* Estilos para los datos de la publicación */
.publicacion-datos {
    margin-bottom: 5px;
}

/* Estilos para las instalaciones */
.instalacion {
    background-color: #ffc107;
    padding: 3px 6px;
    border-radius: 3px;
    margin-right: 5px;
}

.filtro_publicaciones{
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
}

.form_filtros_publicaciones {
    display: flex;
    flex-direction: column;
}

.nav-destacados{
    position: relative;
    display: flex;
    gap: 20px
}

.prevButton, .nextButton {
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

.flechas{
    width: 50px;
    height: 50px;
    background-size: cover;
    position: absolute;
    top: 45%;
}

.prevButton {
    background-image: url('/../assets/imgs/svg/flecha-izquierda.svg');
    /* Ajusta el tamaño y la posición de la imagen según sea necesario */
    left: 0;
}
.nextButton {
    background-image: url('/../assets/imgs/svg/flecha-derecha.svg');
    /* Ajusta el tamaño y la posición de la imagen según sea necesario */
    right: 64%;
}

.container_publicaciones {
    display: grid;
    grid-template-columns: 1fr 3fr; /* Divide el contenedor en dos columnas */
    gap: 20px; /* Espacio entre las columnas */
}

.info_publicacion {
    width: 100%;
    font-size: large;
    padding: 1rem 0 0 1rem;    
}

@media (max-width: 682px) {
    .nav-destacados {
        flex-direction: column;
    }

    .container_publicaciones {
        grid-template-columns: 1fr; /* Una sola columna para pantallas pequeñas */
    }

    .flechas {
        top: 28%;
    }
    .nextButton{
        right: 0;
    }

    .carousel{
        width: 100%;
    }
}