table.greenTable {
    font-family: Georgia, serif;
    border: 6px solid var(--color-verde-header);
    background-color: var(--color-verde-header);
    width: 80%;
    /* height: 60%; */
    text-align: center;
}

table.greenTable td,
table.greenTable th {
    border: 1px solid var(--color-verde-header);
    padding: 3px 2px;
}

table.greenTable tbody td {
    font-size: 13px;
    height: 15rem;
    /* background-color: white; */
}

table.greenTable thead {
    background: var(--color-verde-header);
    border-bottom: 0px solid #444444;
}

table.greenTable thead th {
    font-size: 19px;
    font-weight: bold;
    color: #F0F0F0;
    text-align: left;
    border-left: 2px solid var(--color-verde-header);
}

table.greenTable thead th:first-child {
    border-left: none;
}

table.greenTable tfoot {
    font-size: 13px;
    font-weight: bold;
    color: #F0F0F0;
    background: var(--color-verde-header);
    border-top: 1px solid var(--color-verde-header);
}

table.greenTable tfoot td {
    font-size: 13px;
}

table.greenTable tfoot .links {
    text-align: right;
}

table.greenTable tfoot .links a {
    display: inline-block;
    background: #FFFFFF;
    color: #24943A;
    padding: 2px 8px;
    border-radius: 5px;
}

.disabled {
    color: gray;
}

.ocupado {
    background-color: red;
}

.libre {
    background-color: white;
}

.calendarTitle {
    font-size: 5rem;
}

.calendarContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* estilos para el formulario de reserva  */

.container-form{
    display: flex;
    height: 80%;
    flex-direction: column;
    margin: 1rem;
}

.img-destacada{
    width: 40%;
    height: 17rem;
}

.form-reserva{
    background-color: #D9D9D9;
    height: 40%;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.btn-form{
    color:#D9D9D9;
    border: 0;
    border-radius: 1rem;
    padding: 1rem 1rem 1rem 1rem;
    margin: .5rem 1rem;
}

.reservar{
    background-color: #252026;
}

.cancelar{
    background-color: #B53E3E;
}



.input-form-reserva{
    color: #D9D9D9;
    margin: 1rem;
}

.reserva{
    border: 0;
}

.container-reserva{
    display: flex;
    justify-content: center;
}


.past-date {
    background-color: grey;
    color: white;
    position: relative;
}
.past-date::before {
    content: '';
    color: red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 1.5em;
}

.msj_reserva {
    height: 1rem;
    width: 100%;
    color: white;
    font-weight: bold;
}

.msj_exito {
    background-color: green;
}

.msj_error {
    background-color: red;
}