table.greenTable {
    font-family: Georgia, serif;
    border: 6px solid var(--color-verde-header);
    background-color: var(--color-verde-header);
    width: 80%;
    /* height: 60%; */
    text-align: center;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

table.greenTable td,
table.greenTable th {
    border: 1px solid var(--color-verde-header);
    padding: 3px 2px;
}

table.greenTable tbody td {
    font-size: 13px;
    
    
}

table.greenTable thead {
    background: var(--color-verde-header);
    border-bottom: 0px solid #444444;
}

table.greenTable thead th {
    font-size: 19px;
    font-weight: bold;
    color: #F0F0F0;
    text-align: left;
    border-left: 2px solid var(--color-verde-header);
}

table.greenTable thead th:first-child {
    border-left: none;
}

table.greenTable tfoot {
    font-size: 13px;
    font-weight: bold;
    color: #F0F0F0;
    background: var(--color-verde-header);
    border-top: 1px solid var(--color-verde-header);
}

table.greenTable tfoot td {
    font-size: 13px;
}

table.greenTable tfoot .links {
    text-align: right;
}

table.greenTable tfoot .links a {
    display: inline-block;
    background: #FFFFFF;
    color: #24943A;
    padding: 2px 8px;
    border-radius: 5px;
}

.disabled {
    color: gray;
}

.ocupado {
    background-color: red;
}

.libre {
    background-color: white;
}

.calendarTitle {
    font-size: 3rem;
    padding: 4px;   
    text-align: center;
}

.calendarContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* estilos para el formulario de reserva  */

.container-form{
    display: flex;
    height: 80%;
    flex-direction: column;
    margin: 1rem;
}

.img-destacada{
    width: 40%;
    height: 17rem;
}

.form-reserva{
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    padding: 4px;
}

.btn-form{
    color:#D9D9D9;
    border: 0;
    border-radius: 1rem;
    padding: 1rem 1rem 1rem 1rem;
    margin: .5rem 1rem;
}

.reservar{
    background-color: #B53E3E;
}

.cancelar{
    background-color: #B53E3E;
}



.input-form-reserva{
    color: black;
    margin: 1rem;
}

.reserva{
    border: 0;
}




.past-date {
    background-color: grey;
    color: white;
    position: relative;
}
.past-date::before {
    content: '';
    color: red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 1.5em;
}


.selected {
    background-color: #007bff; /* Color de fondo azul */
    color: white; /* Texto blanco */
    font-weight: bold; /* Texto en negrita */
}

.msj_reserva {
    height: 1rem;
    width: 100%;
    color: white;
    font-weight: bold;
}

.msj_exito {
    background-color: green;
}

.msj_error {
    background-color: red;
}

/* Ajustar el ancho de la tabla al 90% del ancho de la ventana */
#calendarTable {
    width: 90vw; /* O un porcentaje diferente según lo que necesites */
    max-width: 100%; /* Para asegurarse de que no se desborde del contenedor */
    border-collapse: collapse; /* Para eliminar espacios entre celdas */
    table-layout: fixed; /* Para que las celdas se ajusten al ancho de la tabla */
  }
  
  #calendarTable th, #calendarTable td {
    padding: 10px; /* Espacio dentro de cada celda */
    text-align: center; /* Centrar el texto dentro de las celdas */
  }
  
  .calendarContainer {
    overflow-x: auto; /* Permite el desplazamiento horizontal si es necesario */
  }


#calendarTable th {
    font-size: 0.8rem; /* Ajusta el tamaño de fuente si es necesario */
    position: relative; /* Necesario para posicionar los pseudo-elementos */
    overflow: hidden; /* Oculta el contenido que exceda el tamaño del elemento */
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}

#calendarTable th::after {
    content: attr(data-abbr); /* Utiliza el atributo data-abbr para mostrar la abreviatura */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.8rem; /* Ajusta el tamaño de fuente si es necesario */
    color: white; /* Cambia el color si es necesario */
    white-space: nowrap; /* Asegura que el texto no se divida */
}
  
#calendarTable th span {
    display: none; /* Oculta el contenido original */
}

.btnNavCalendar {
    margin: 4px;
    height: 50%;
}

.calendarNavigation {
    display: flex;
    align-items: center;
}
