/* Estilo base para la tabla */
.reservas-container {
    max-width: 70vw;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.reservas-titulo {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.reservas-tabla {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.reservas-tabla th,
.reservas-tabla td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.reservas-tabla th {
    background-color: #f9f9f9;
    color: #333;
    font-weight: bold;
}

.reservas-tabla tr:hover {
    background-color: #f1f1f1;
}

.reservas-accion {
    color: #007bff;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #007bff;
    border-radius: 5px;
    margin: 0 5px;
    display: inline-block;
}

.reservas-accion:hover {
    background-color: #007bff;
    color: #fff;
}

/* Estilo para la vista en pila */
@media (max-width: 730px) {
    .reservas-tabla {
        display: block;
        width: 100%;
    }

    .reservas-tabla thead {
        display: none; /* Ocultar los encabezados en vista de pila */
    }

    .reservas-tabla tbody,
    .reservas-tabla tr {
        display: block;
        width: 100%;
        margin-bottom: 10px; /* Espacio entre filas en vista de pila */
    }

    .reservas-tabla td {
        display: block;
        text-align: right;
        padding-left: 50%;
        position: relative;
        border: none;
        border-bottom: 1px solid #ddd;
    }

    .reservas-tabla td::before {
        content: attr(data-label); /* Mostrar el nombre de la columna */
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 10px;
        white-space: nowrap;
        color: #333;
        font-weight: bold;
        text-align: left;
        background-color: #f9f9f9; /* Color de fondo para la etiqueta */
        border-right: 1px solid #ddd; /* Línea entre la etiqueta y el contenido */
        box-sizing: border-box;
    }

    .reservas-tabla tr {
        background-color: #f9f9f9;
        border-radius: 8px;
        overflow: hidden;
        margin-bottom: 10px;
    }
}