<!DOCTYPE html>
<html lang="es">

<head>
    {% include 'parts/headCorreo.view.html' %}
</head>

<body>
    <div class="container">
        <div class="header">
            <h4>Se actualizo el estado de una Publicacion</h4>
        </div>
        <div class="content">
            <h5>Cambio el estado de la publicacion:</h5>
            <p>
                Publicacion sobre la cual consulta: 
                <a href="{{ fullUrl }}">Click Aqui</a>
            </p>
        </div>
    </div>
</body>
</html>
