<!DOCTYPE html>
<html lang="es">

<head>
    {% include 'parts/headCorreo.view.html' %}
</head>

<body>
    <div class="container">
        <div class="header">
            <h4>Consulta</h4>
        </div>
        <div class="content">
            <h5>Datos del Interesado</h5>
            <p>
                Nombre: {{ nombre }} {{ apellido }}<br>
                Email: {{ emailOrigen }}<br>
                Telefono: {{ telefono }} <br>
                Consulta: {{ consulta }} <br>
            </p>
        </div>
    </div>
</body>
</html>
