<!DOCTYPE html>
<html lang="es">

<head>
    {% include 'parts/head.view.html' %}
</head>

<body class="login_bg">

    <main class="login_form_container">

        <section class="login_form_header">
            <a href="/"><h1 class="icono-header-pawperties">PawPerties</h1></a>
            <h1 class="login_title">INICIO SESIÓN</h1>
        </section>

        <section class="login_form">
            <form action="/iniciar-sesion" method="post">
                <label for="email">Email</label>
                <input required type="email" name="email" id="email" placeholder="Ingrese su correo electrónico">
                
                <label for="contrasenia">Contraseña</label>
                <input required type="password" name="contrasenia" id="contrasenia" placeholder="Ingrese su contraseña">
                
                <input type="submit" value="INICIAR SESION">
            </form>

            <form action="/registrarse" method="get">
                <input type="submit" value="REGISTRARSE">
            </form>

            <a href="/recuperar-contrasenia">¿Olvidaste tu contraseña?</a>

            {% if resultado is defined and resultado.error is not empty %}
                <p class="error-registro">{{ resultado.error|e }}</p>
            {% endif %}

            {% if exito is defined %}
                {% if exito %}
                    <p class="msj_exito">{{ mensaje }}</p>
                {% else %}
                    <p class="msj_error">{{ mensaje }}</p>
                {% endif %}
            {% endif %}
            
        </section>

    </main>

</body>

</html>
