<!DOCTYPE html>
<html lang="es">

<head>
    {% include 'parts/head.view.html' %}
</head>

<body class="login_bg">

    <main class="login_form_container">

        <section class="login_form_header">
            <a href="/"><h1 class="icono-header-pawperties">PawPerties</h1></a>
            <h1 class="login_title">RESETEAR CONTRASEÑA</h1>
        </section>

        <section class="login_form">
            <form action="/resetear-contrasenia" method="post">
                <label for="email">Email</label>
                <input required type="email" name="email" id="email" placeholder="Ingrese su correo electrónico">
                                
                <input type="submit" value="ENVIAR">
            </form>

        </section>

    </main>

</body>

</html>
