<!DOCTYPE html>
<html lang="es">

<head>
    {% include 'parts/head.view.html' %}
</head>

<body class="login_bg">

    <main class="login_form_container">

        <section class="login_form_header">
            <a href="/"><h1 class="icono-header-pawperties">PawPerties</h1></a>
            <h1 class="login_title">RESETEAR CONTRASEÑA</h1>
        </section>

        <section class="login_form">
            {% if resetear_de_contrasenia_solicitado %}
                <form action="/recuperar-contrasenia" method="post">

                    <input type="text" name="user_id" value="{{ user_id }}" hidden>
                    <label for="password">Password</label>
                    <input required type="password" name="password" id="password" placeholder="Ingrese la nueva contraseña">
                    <label for="password_repeat">Password Repetido</label>
                    <input required type="password" name="password_repeat" id="password_repeat" placeholder="Ingrese nuevamente la contraseña">
                                    
                    <input type="submit" value="ENVIAR">
                </form>                
            {% else %}
                <form action="/recuperar-contrasenia" method="post">

                    <label for="email">Email</label>
                    <input required type="email" name="email" id="email" placeholder="Ingrese su correo electrónico">
                                    
                    <input type="submit" value="ENVIAR">
                </form>
            {% endif %}

            {% if exito is defined %}
                {% if exito %}
                    <p class="msj_exito">{{ mensaje }}</p>
                {% else %}
                    <p class="msj_error">{{ mensaje }}</p>
                {% endif %}
            {% endif %}
        </section>

    </main>

</body>

</html>
