<!DOCTYPE html>
<html lang="es">

<head>
    {% include 'parts/head.view.html' %}
    <link rel="stylesheet" href="/assets/css/reservas-calendario.css">
    <script src="/assets/js/reservas-calendario.js"></script>
    <script src="/assets/js/publicacion.details.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>

<body class="home">
    {% include 'parts/header.view.html' %}

    <main>

        {% if resultadoReserva is not null %}
            <div class="overlay">
                <article class="msj_reserva">
                    <span class="close-btn">✖</span> <!-- Botón de cierre -->
                    {% if resultadoReserva.exito %}
                        <p class="msj_exito">✔ Exito: {{ resultadoReserva.mensaje }}, Nro Reserva: {{ resultadoReserva.nro_reserva }}</p>
                    {% else %}
                        <p class="msj_error">✖ Error: {{ resultadoReserva.mensaje }}</p>
                        {% if resultadoReserva.errores is defined %}
                            <ul class="lista-errores">
                                {% for error in resultadoReserva.errores %}
                                    <li><p>{{ error }}</p></li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endif %}
                </article>
            </div>
        {% endif %}     
        <!-- imagenes del departamento en alquiler-->
        <section class="container-imagenes-publicacion">
            <h2 class="titulo-imagenes-detail">{{ publicacion.nombre_alojamiento | capitalize }}</h2>
            <article class="slider">
                {% for imagen in publicacion.imagenes %}
                <img class="carousel-img" 
                     src="/publicacion?id_pub={{ publicacion.id }}&id_img={{ imagen.id_imagen }}" 
                     alt="{{ imagen.nombre_imagen }}">
                {% endfor %}
            </article>
            <ul class="puntos">
                {% for i in range(0, publicacion.imagenes | length - 1) %}
                <li class="punto {% if i == 0 %}activo{% endif %}"></li>
                {% endfor %}
            </ul>
        </section>

        <!-- Modal para imagen a pantalla completa -->
        <article id="fullscreenModal" class="fullscreen-modal">
            <span class="close">&times;</span>
            <img class="modal-content" id="fullscreenImage">
        </article>

        <section class="details-depto">
            <!-- 1) detalles de la publicacion -->
            <article class="details-depto__info">
                <h3 class="details-depto__titulo">
                    <span class="titulo-estatico">Detalles de la Propiedad</span>
                    <span class="titulo-dinamico">{{ publicacion.nombre_alojamiento }}</span>
                </h3>
                <p class="details-depto__descripcion">
                    {{ publicacion.descripcion_alojamiento }}
                </p>
                <p class="details-depto__descripcion">
                    Direccion: {{ publicacion.direccion }}
                </p>
                <hr>
                {% set normas = publicacion.normas_alojamiento | split(',') %}
                <ul class="details-depto__normas">
                    {% for norma in normas %}
                    <li>{{ norma | trim | capitalize }}</li>
                    {% endfor %}
                </ul>
                <hr>
                <article class="details-depto__comodidades">
                    <h4 class="details-depto__comodidades-titulo">Comodidades:</h4>
                    <ul class="details-depto__comodidades-lista">
                        <li class="details-depto__comodidades-item">
                            <i class="fas fa-bath comodidades-item__icon"></i>
                            <span class="comodidades-item__etiqueta">Cantidad de Baños:</span>
                            <span class="comodidades-item__valor">{{ publicacion.cant_banios }}</span>
                        </li>
                        <li class="details-depto__comodidades-item">
                            <i class="fas fa-bed comodidades-item__icon"></i>
                            <span class="comodidades-item__etiqueta">Cantidad de Dormitorios:</span>
                            <span class="comodidades-item__valor">{{ publicacion.cantidad_dormitorios }}</span>
                        </li>
                        <li class="details-depto__comodidades-item">
                            <i class="fas fa-car comodidades-item__icon"></i>
                            <span class="comodidades-item__etiqueta">Cochera:</span>
                            <span class="comodidades-item__valor">{{ publicacion.cochera ? 'Sí' : 'No' }}</span>
                        </li>
                        <li class="details-depto__comodidades-item">
                            <i class="fas fa-swimming-pool comodidades-item__icon"></i>
                            <span class="comodidades-item__etiqueta">Pileta:</span>
                            <span class="comodidades-item__valor">{{ publicacion.pileta ? 'Sí' : 'No' }}</span>
                        </li>
                        <li class="details-depto__comodidades-item">
                            <i class="fas fa-temperature-high comodidades-item__icon"></i>
                            <span class="comodidades-item__etiqueta">Aire Acondicionado:</span>
                            <span class="comodidades-item__valor">{{ publicacion.aire_acondicionado ? 'Sí' : 'No' }}</span>
                        </li>
                        <li class="details-depto__comodidades-item">
                            <i class="fas fa-wifi comodidades-item__icon"></i>
                            <span class="comodidades-item__etiqueta">Wifi:</span>
                            <span class="comodidades-item__valor">{{ publicacion.wifi ? 'Sí' : 'No' }}</span>
                        </li>
                    </ul>
                </article>
            </article>
            <!-- 2) formulario de contacto con el duenio  -->
            <article class="form-contacto-publicaciom">
                <h4 class="h4-titulo-form">
                    Contactá al Dueño
                </h4>
                <form action="/publicacion/contactar-al-duenio-form?id_pub={{ publicacion.id }}" method="post">
                    <input type="text" value="{{ urlPublicacion }}" name="urlPublicacion" hidden>
                    <input type="text" value="{{ publicacion.email }}" name="emailDuenio" hidden>
                    <input type="email" class="input-form" placeholder="Email: *" name="email-interesado" required>
                    <input type="tel"  class="input-form" placeholder="Telefono: *" name="telefono-interesado" required>
                    <textarea name="texto-consulta" placeholder="Hola, vi esta propiedad en Pawperties y quiero que me contacten. Gracias."></textarea>
                    <input type="submit" value="Contactar" class="btn-contactar">
                </form>
                <a class="whatsapp-link" href="https://wa.me/{{ publicacion.telefono | e }}/?text=Hola, vi esta propiedad en Pawproperties y quiero más información por WhatsApp. {{ urlPublicacion }}" target="_blank">
                    <img src="/assets/imgs/svg/whatsapp-icon.png" alt="WhatsApp">
                </a>
                <a class="whatsapp-link" href="https://api.whatsapp.com/send/?phone={{ publicacion.telefono | e }}&text=Hola%2C+vi+esta+propiedad+en+Pawproperties+y+quiero+m%C3%A1s+informaci%C3%B3n+por+WhatsApp.+{{ app.request.uri }}&type=phone_number&app_absent=0" target="_blank">
                    <img src="/assets/imgs/svg/whatsapp-icon.png" alt="WhatsApp">
                </a>
                <hr>
                <article class="publicaciones-duenio">
                    <h5 class="h5-nombre-duenia">{{ publicacion.nombre }} {{ publicacion.apellido }}</h5>
                    <a href="/publicaciones/lista?id-duenio" class="link-avisos-duenio"></a>
                    <p>Ver teléfono</p>
                </article>
            </article>

            <!-- 3) formulario de reserva junto con la visualizacion del calendario de reserva-->

            {% include 'parts/reservas-propiedad.view.html' %}
            

            <!-- 4) mapa donde figura la ubicacion del alquiler -->
            <article class="ubicacion-publicacion">
                <h3 class="titulo-ubicacion">Ubicación</h3>
                <input type="text" id="latitud" value="{{ publicacion.latitud }}" hidden>
                <input type="text" id="longitud" value="{{ publicacion.longitud }}" hidden>
                <div id="mapid"></div>
            </article>
        </section>
        
    </main>

    {% include 'parts/footer.view.html' %}
</body>

</html>
