<!DOCTYPE html>
<html lang="es">

<head>
    {% include 'parts/head.view.html' %}
    <script src="/assets/js/publicacion-new.js"></script>
    <script src="/assets/js/autocompleter.js"></script>
    <link rel="stylesheet" href="/assets/css/autocompleter.css">
    <link rel="stylesheet" href="/assets/css/carteles.ayuda.css">
    
</head>

<body class="home">
    {% include 'parts/header.view.html' %}

    <main class="main-home">
        <form action="/publicacion/new" method="post" class="form-publicacion-new" enctype="multipart/form-data">
            <fieldset class="paso-1">
                <h2 class="titulo-form-publicacion">PASO 1 de 3</h2>
                <p class="paso-titulo">Completá los datos del alojamiento</p>

                <h3 class="titulo-datos-propietario">Datos del Alojamiento</h3>
                <input type="text" name="nombre-alojamiento" id="nombre-alojamiento" class="input-form-publicacion" placeholder="Nombre del Alojamiento" required>

                <input type="text" name="tipo-alojamiento" id="tipo-alojamiento" class="input-form-publicacion" placeholder="Tipo de Alojamiento" required>
                <div class="autocomplete-results-container">
                    <ul class="autocomplete-list"></ul>
                </div>
    
                <input type="number" name="capacidad-maxima" id="capacidad-maxima" class="input-form-publicacion" placeholder="Capacidad Máxima" required>
                <input type="number" name="cant-banios" id="cant-banios" class="input-form-publicacion" placeholder="Cantidad de Baños" required>
                <input type="number" name="cantidad-dormitorios" id="cantidad-dormitorios" class="input-form-publicacion" placeholder="Cantidad de Dormitorios" required>

                <h3 class="titulo-datos-propietario">Ubicación del Alojamiento</h3>
                <p>Indica la dirección de tu propiedad para que podamos determinar la ubicación en el mapa. La dirección exacta no va a ser visible para los usuarios</p>
                <div class="input-container">
                    <input type="text" name="provincia" id="provincia" class="input-form-publicacion disabled" placeholder="Provincia" readonly>
                    <span class="tooltip">Estos campos se llenarán automáticamente cuando ingreses la dirección en el mapa</span>
                </div>
                
                <div class="input-container">
                    <input type="text" name="codigo_postal" id="codigo_postal" class="input-form-publicacion disabled" placeholder="Código Postal" readonly>
                    <span class="tooltip">Estos campos se llenarán automáticamente cuando ingreses la dirección en el mapa</span>
                </div>
                
                <input type="text" name="direccion" id="direccion" class="input-form-publicacion" placeholder="Dirección" readonly>

                <p>Mueve el mapa hasta posicionar el puntero en el lugar adecuado</p>
                {% include 'parts/mapa.view.html' %}

                <h3 class="titulo-datos-propietario">Instalaciones</h3>
                <label for="cochera" class="lbl-chekbox">Cochera
                    <input type="checkbox" name="cochera" id="cochera" title="Cochera">
                </label>
                <label for="pileta" class="lbl-chekbox">Pileta
                    <input type="checkbox" name="pileta" id="pileta" title="Pileta">
                </label>

                <h3 class="titulo-datos-propietario">Equipamiento</h3>
                <label for="aire-acondicionado" class="lbl-chekbox">Aire Acondicionado
                    <input type="checkbox" name="aire-acondicionado" id="aire-acondicionado" title="Aire Acondicionado">
                </label>
                <label for="wifi" class="lbl-chekbox">Wi-Fi
                    <input type="checkbox" name="wifi" id="wifi" title="Wi-Fi">
                </label>
                <button type="button" class="next-btn">Siguiente</button>
            </fieldset>

            <fieldset class="paso-2 hidden">
                <h2 class="titulo-form-publicacion">PASO 2 de 3</h2>
                <p class="paso-titulo">Agrega fotos de tu alojamiento</p>

                <div id="drop-area">
                    <p class="instructions">Arrastra y suelta una o varias imagenes o haz clic para seleccionar</p>
                    <p class="instructions">Solo se permiten imagenes .jpg, .jpeg, .png</p>
                    <input type="file" name="imagenes[]" multiple id="drop-input">
                    <p class="error-drop"></p>
                    <div class="preview-container"></div>
                </div>

                <button type="button" class="prev-btn">Anterior</button>
                <button type="button" class="next-btn">Siguiente</button>
            </fieldset>

            <fieldset class="paso-3 hidden">

                <h2 class="titulo-form-publicacion">PASO 3 de 3</h2>
                <p class="paso-titulo">Especifica tus condiciones para el alquiler. Recuerda que mientras más flexible seas, más oportunidades tendrás</p>

                <h3 class="titulo-datos-propietario">Descripción</h3>
                <textarea name="descripcion-alojamiento" class="descripcion-alojamiento" required placeholder="Excelente ubicacion, espaciosa, ..."></textarea>

                <h3 class="titulo-datos-propietario">Normas</h3>
                <textarea name="normas-alojamiento" class="descripcion-alojamiento" required placeholder="No se aceptan mascotas, ..."></textarea>

                <h3 class="titulo-datos-propietario">Precio/Noche ($)</h3>
                <input type="number" name="precio" id="precio" class="descripcion-alojamiento" required min="0" value="0">

                <button type="button" class="prev-btn">Anterior</button>
                <input type="submit" value="Enviar Publicación" class="btn-form-enviar-publicacion">
            </fieldset>
        </form>
    </main>

    {% include 'parts/footer.view.html' %}
</body>

</html>
