<!DOCTYPE html>
<html lang="es">

<head>
    {% include 'parts/head.view.html' %}
    <script src="/assets/js/mis-publicaciones.js"></script>
    <script src="/assets/js/components/sliderPrecio.js" defer></script>
</head>

<body class="home">
    {% include 'parts/header.view.html' %}

    <main class="main-home">
        <section class="container_publicaciones">

            <!-- FILTROS -->
            <aside class="filtro-container">
                <h2>Filtros</h2>
                <form method="GET" action="/mis_publicaciones" class="form-filtros">
                    {% include 'parts/search-filters.view.html' %}
                </form>
            </aside>
            
            <section class="publicaciones_list">
                <h2 class="h2-titulo-publicaciones">Mis Propiedades</h2>
                {% include 'parts/lista-publicaciones.view.html' %}
            </section>
        </section>
    </main>

    {% include 'parts/footer.view.html' %}
</body>

</html>
