<!DOCTYPE html>
<html lang="es">

<head>
    {% include 'parts/head.view.html' %}
</head>

<body class="login_bg">

    <main class="login_form_container">

        <section class="login_form_header">
            <a href="/">
                <h1 class="icono-header-pawperties">PawPerties</h1>
            </a>
            <h1 class="login_title">REGISTRAR USUARIO</h1>
        </section>

        <section class="login_form">
            <form action="/registrarse" method="post">

                <label for="email">Email (*)</label>
                <input required type="email" name="email" id="email" placeholder="Ingrese su correo electrónico">

                <label for="nombre">Nombre (*)</label>
                <input required type="text" name="nombre" id="nombre" placeholder="Ingrese su nombre">

                <label for="apellido">Apellido (*)</label>
                <input required type="text" name="apellido" id="apellido" placeholder="Ingrese su apellido">

                <label for="contrasenia">Contraseña (*)</label>
                <input required type="password" name="contrasenia" id="contrasenia" placeholder="Ingrese su contraseña">

                <label for="contrasenia-check">Ingrese nuevamente su contraseña (*)</label>
                <input required type="password" name="contrasenia-check" id="contrasenia-check" placeholder="Ingrese su contraseña">

                <label for="telefono">Número de teléfono (*)</label>
                <input required type="tel" name="telefono" id="telefono" placeholder="Ingrese su número de teléfono">

                <input type="submit" value="REGISTRARSE">

                {% if error is defined %}
                    <p class="error-registro">{{ error|escape }}</p>
                {% endif %}
            </form>
        </section>

    </main>

</body>

</html>
