<!DOCTYPE html>
<html lang="es">

<head>
    {% include 'parts/head.view.html' %}
</head>

<body class="login_bg">

    <main class="login_form_container">

        <section class="login_form_header">
            <a href="/" aria-label="Ir al inicio de Pawperties">
                <span class="icono-header-pawperties" aria-hidden="true">
                    PawPerties
                </span>
            </a>
            <h1 class="login_title">¡ÉXITO!</h1>
        </section>

        <section class="login_form">
            <form action="/iniciar-sesion" method="get">
                <p class="msj_exito" role="status"> {{ exito }} </p>

                <input type="submit" value="INICIAR SESIÓN">
            </form>
        </section>

    </main>

</body>

</html>
