<footer>
    <section class="footer_secciones">
        <nav>
            <ul>
                <li><a href="/publicaciones/list">Buscar Propiedades</a></li>
                <li><a href="/mapa">Mapa</a></li>
            </ul>
        </nav>

        <nav>
            <ul>
                <li><a href="/publicacion/new">Publicar alojamiento</a></li>
                <li><a href="/mis_publicaciones">Gestiona tu alojamiento</a></li>
            </ul>
        </nav>
    </section>
    <section class="footer_redes">
        <p>PAWPERTIES</p>
        <nav>
            <ul class="pie_pagina link_externos">
                <li>
                    <ul class="redes_sociales">
                        <li class="red_social facebook">
                            <a href="https://www.facebook.com/" target="_blank" rel="noopener">
                                <img src="/assets/imgs/svg/icono-facebook.svg" alt="facebook">
                            </a>
                        </li>
                        <li class="red_social instagram">
                            <a href="https://www.instagram.com/" target="_blank" rel="noopener">
                                <img src="/assets/imgs/svg/icono-instagram.svg" alt="instagram">
                            </a>
                        </li>
                        <li class="red_social twitter">
                            <a href="https://twitter.com/" target="_blank" rel="noopener">
                                <img src="/assets/imgs/svg/icono-x.svg" alt="twitter">
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </section>
</footer>