<section class="filtro-group">
    <p>Búsqueda</p>

    <input type="text" placeholder="Buscar palabra clave..." name="zona" value="{{ zona|default('') }}">
</section>

<section class="filtro-group">
    <p>Precio máximo</p>

    <input type="range" class="filtro-precio" name="precio" min="0" max="{{ mayorPrecio }}" step="5" value="{{ precio ? precio : 0 }}">

    {% if precio %}
        <h3 class="precio-valor">
            USD 0 - USD
            {{ precio|number_format(0, ',', '.') }}
        </h3>
    {% else %}
        <h3 class="precio-valor">-</h3>
    {% endif %}
</section>

<section class="filtro-group">
    <p>Tipo</p>

    {% if tipos_alojamiento is not empty %}
        {% for tipo in tipos_alojamiento %}
            <label>
                <input
                    type="checkbox"
                    name="tipo[]"
                    value="{{ tipo.id }}"
                    {{ tipo.id in tipos ? 'checked' : '' }}
                >
                {{ tipo.descripcion_tipo|capitalize }}
            </label>
        {% endfor %}
    {% endif %}
</section>

<section class="filtro-group">
    <p>Instalaciones y equipamiento</p>

    <label>
        <input
            type="checkbox"
            name="instalaciones[]"
            value="cochera"
            {{ 'cochera' in instalaciones ? 'checked' : '' }}
        >
        Cochera
    </label>

    <label>
        <input
            type="checkbox"
            name="instalaciones[]"
            value="pileta"
            {{ 'pileta' in instalaciones ? 'checked' : '' }}
        >
        Pileta
    </label>

    <label>
        <input
            type="checkbox"
            name="instalaciones[]"
            value="aire_acondicionado"
            {{ 'aire_acondicionado' in instalaciones ? 'checked' : '' }}
        >
        Aire acondicionado
    </label>

    <label>
        <input
            type="checkbox"
            name="instalaciones[]"
            value="wifi"
            {{ 'wifi' in instalaciones ? 'checked' : '' }}
        >
        Wi-Fi
    </label>
</section>

<section class="botones-conteiner">
    <button type="submit">
        Aplicar
    </button>

    <button type="reset">
        Limpiar filtros
    </button>
</section>