<section class="filtro-group">
    <p>Zona</p>
    <input type="text" placeholder="Luján..." name="zona" id="zona" value="{{ zona }}">
</section>

<section class="filtro-group">
    <p>Precio</p>
    <input type="range" id="precio" name="precio" min="0" max="{{ mayorPrecio }}" step="50000" value="{{ precio ? precio|number_format(0, ',', '.') : 0 }}">
    <h3 id="precio-valor" class="precio-valor">{{ precio ? "0 a " ~ precio : "-" }}</h3>
</section>

<section class="filtro-group">
    <p>Tipo</p>
    {% if tipos_alojamiento is not empty %}
        {% for tipo in tipos_alojamiento %}
            <label>
                <input type="checkbox" name="tipo[]" value="{{ tipo.id }}"{{ tipo.id in tipos ? 'checked' : '' }}>
                {{ tipo.descripcion_tipo|capitalize }}
            </label>
        {% endfor %}
    {% endif %}
</section>

<section class="filtro-group">
    <p>Instalaciones & Equipamiento</p>
    <label><input type="checkbox" name="instalaciones[]" value="cochera" {{ 'cochera' in instalaciones ? 'checked' : '' }}> Cochera</label>
    <label><input type="checkbox" name="instalaciones[]" value="pileta" {{ 'pileta' in instalaciones ? 'checked' : '' }}> Pileta</label>
    <label><input type="checkbox" name="instalaciones[]" value="aire_acondicionado" {{ 'aire_acondicionado' in instalaciones ? 'checked' : '' }}> Aire Acondicionado</label>
    <label><input type="checkbox" name="instalaciones[]" value="wifi" {{ 'wifi' in instalaciones ? 'checked' : '' }}> Wi-Fi</label>
</section>

<section class="botones-conteiner">
    <button type="submit">Aplicar</button>
    <button type="reset">Limpiar</button>
</section>

